<ion-content class="principal-bg">


  <h1 class="title">BRICK <br> BREAKER</h1>

  <!-- Os blocos -->
  <div class="blocks">
    <div class="row red">
      <div></div><div></div><div></div><div></div><div></div><div></div>
    </div>
    <div class="row orange">
      <div></div><div></div><div></div><div></div><div></div><div></div>
    </div>
    <div class="row green">
      <div></div><div></div><div></div><div></div><div></div><div></div>
    </div>
    <div class="row blue">
      <div></div><div></div><div></div><div></div><div></div><div></div>
    </div>
  </div>

  <!-- Botão Play -->
  <ion-button expand="block" class="play-btn" (click)="goToMaps()">
    PLAY
  </ion-button>

  <!-- Paddle e bola -->
  <div class="paddle">
    <div class="ball"></div>
  </div>

</ion-content>




