
$neon-color-primary: #8665fd;   
$neon-color-secondary: #00ffff; 
$dark-background: #000000;
$slide-inner-bg: #0a0a0a;       // Fundo do slide

.content {
  /* Fundo */
  --background: #{$dark-background};
}

/* Carrossel */
.slides-container {
  display: flex;
  gap: 20px;
  padding: 20px 0;

  overflow-x: auto;
  overflow-y: hidden;

  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;

  width: 100%;
  justify-content: flex-start;
  padding-left: 20px;
}

/* esconder barra */
.slides-container::-webkit-scrollbar {
  display: none;
}

.slide {
  flex: 0 0 280px;
  height: 280px;
  scroll-snap-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; 

  background: $slide-inner-bg;
  border-radius: 8px; 
  border: 1px solid rgba(255, 255, 255, 0.1);

  
  box-shadow:
    0 0 5px rgba($neon-color-secondary, 0.7),
    0 0 15px rgba($neon-color-primary, 0.5),
    0 0 25px rgba($neon-color-primary, 0.3);

  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;

  user-select: none;
  position: relative;
}

/* efeito hover */
.slide:active {
  transform: scale(0.97);
  
  box-shadow:
    0 0 10px $neon-color-secondary,
    0 0 40px rgba($neon-color-primary, 0.8),
    0 0 60px rgba($neon-color-primary, 0.6);
}


.slide img {
  width: 100%;
  height: 100%;
  object-fit: contain; 
  pointer-events: none;

  /* Efeito scanline */
  filter: brightness(1.2) contrast(1.1);
}


.map-preview {
    width: 90%;
    height: 90%;
    background-color: $dark-background;
    border: 2px solid $neon-color-secondary; /* Borda do mapa */
    box-shadow: 0 0 8px $neon-color-secondary; 
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}





















